.app_album_info {
  width: 100vw;

  .app_album_info_block {
    width: 100vw;
    padding: 20px 20px;
  background: rgba(0, 188, 212, 0.27);
    position: relative;

    .app_album_play_all{
      position: absolute;
      width: 40px;
      height: 40px;
      top: 70px;
      left: 70px;
    }
    .app_album_cover {
      width: 150px;
      height: 150px;
      border-radius: 20px;
    }

    .app_album_name {
      font-size: 12px;
    }
  }

}