.wjyyds-action-sheet{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: 999;

    .wjyyds-action-sheet-content{
        position: absolute;
        bottom: 0;
    }

  }

