
.app-history-list{
  max-height: 60vh;
  background: rgba(139, 195, 74, 0.43);
  padding: 0px 10px;
  overflow: scroll;

  .app_playlist_item {
    width: 100vw;
    display: flex;
    border-bottom: 1px rgba(184, 184, 184, 0.15) solid;

.active_item{
  font-weight: bold;
  color:red;
  width: 50px;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

    .app_playlist_item_index {
      width: 50px;
      font-size: 20px;
      text-align: center;

      .app_playlist_item_info {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
      }
    }}
}
