.app_playlist {
  padding: 0 10px;

  .app_current_play{
    background: rgba(0, 188, 212, 0.63) !important;
    font-weight: bold;
    transition: .5s;
  }

  .app_playlist_item {
    display: flex;
    border-bottom: 1px rgba(184, 184, 184, 0.15) solid;
    padding: 10px 0;


    .app_playlist_item_index {
      width: 50px;
      font-size: 20px;
      text-align: center;

      .app_playlist_item_info {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
      }
    }
  }


}